*{
    margin: 0;
    padding: 0;
    font-family: Avenir, "Helvetica Neue", sans-serif;
}

.top2{
    display: grid;
    grid-template-columns: 80% 180px;
    padding: 10px;
}
.top2>img{
    width: 200px;
    padding-left: 90px;
    padding-top: 10px;
}
.top2>button{
    background-color:#FF9400 ;
    color: white;
    border-radius: 8px;
    margin: 22px;
    border-color: #FF9400;
    font-size: 1em;
}

.header {
    background-image: url(https://assets.loseit.com/website/corporate/InteriorHeaderPattern.svg), linear-gradient(0.25turn, #FF8D00, #FF9400);
    background-position: 100% 50%;
    background-size: 100% 500px;
    background-repeat: repeat;
    height: 300px;
    display: flex;
}
.header>h1{
    color: white;
    padding-left: 200px;
    padding-top: 130px;
    font-size: 70px;
    font-weight: 600
}



/* mid section*/

.mid{
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

.mid>img{
    width: 140px;
    padding-bottom: 20px;

}
.mid>p{
    font-size: 13px;
    padding-bottom: 20px;
}
.mid>span{
    font-size: 13px;
}



/*mid mid*/


.midMid{
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #F1F1F1;
}
.midMid>p{
    padding-top: 10px;
    margin: 10px;
    padding-bottom: 30px;
    width: 48%;
    padding-left: 25%;
}
.midMid1{
    display: flex;
    width: 300px;
    height: 100px;
    background-color: white;
    margin-left: 140%;
}
.midMid1>img{
    padding-top: 10px;
    width: 70px;
    height: 70px;
    padding-left: 20px;
}

.midMid1>h3{
    width: 150px;
    padding-left: 20px;
    color: #FF8D00;
    padding-top: 8px;
    padding-top: 10px;
}

.flex_Mid{
    display: grid;
    grid-template-columns: repeat(2 , 320px);
    grid-template-rows: repeat(1, 120px);
}

.more{
    text-align: center;
    padding: 30px 0 100px 0;

}

.more>p{
    padding: 20px 0 50px 0;
}
.more>h2{
    color: #183962;
}



.more1{
    width: 40%;
    margin-left: 450px;
    background-color: #F1F1F1;
    height: 250px;
    border-radius: 10px;
    padding: 80px 0 0 0;
    margin-bottom: 30px;
}


.more1>img{
    width: 100px;
}
.more1>p{
    padding-top: 10px;
}

.more>button{
    background-color: #FF8D00;
    color: white;
    text-align: center;
    padding: 20px 70px 20px 70px ;
    border-color: #FF8D00;
    border-radius: 5px;
    font-size: 15px;
}




/*bottom */

.bottom>h3{
    text-align: center;
    color: #FF9400;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 20px;
}
.bottom_child{
    
    display: flex;
    padding:  20px 450px;
}

.bottom_child>img{
    width: 179px;
    margin-left:80px;

}
.bottom{
    padding-bottom: 60px;
    text-align: center;
    padding: 50px 0 70px 0;
    background-color: #f1f1f1;
    background-image: url(https://assets.loseit.com/website/home/Pattern_50opacity_Long.svg);
    background-size: cover;
    background-position: center;
}



/* bottom P*/

.bottomP{
    background-color: #183962;
    padding-bottom: 40px;
}
.P_child>img{
    width: 100px;
    padding-left: 180px;
}
.P_child{
    display: flex;
}

.p_child1{
    margin-top: 100px;
    margin-left: 170px;
    color: white;
    width: 45%;
    line-height: 25px;
}


.buttom_last{
    padding-top: 20px;
    text-align: center;
    color: white;

}

.buttom_last>p{
    padding-top: 10px;
    font-size: 15px;
    padding-bottom: 10px;
}