*{
    margin: 0;
    padding: 0;
    font-family: Avenir, "Helvetica Neue", sans-serif;
}
.top1{
    background-color: #85E0FF;
    font-size: 14px;
    height: 51px;
    color:#183962 ;

    text-align: center;
    line-height:50px;
}
.top1>p{
    padding: 1px;
    font-weight: 550;
    letter-spacing: 1px;
}




.top2{
    display: grid;
    grid-template-columns: 80% 180px;
    padding: 10px;
}
.top2>img{
    width: 200px;
    padding-left: 90px;
    padding-top: 10px;
}
.top2>button{
    background-color:#FF9400 ;
    color: white;
    border-radius: 8px;
    margin: 22px;
    border-color: #FF9400;
    font-size: 1em;
}




.top3{
    background-image: url(https://assets.loseit.com/website/home/Wave.png), linear-gradient(90deg, rgba(245, 128, 30, 1) 0, rgba(246, 146, 29, 1) 100%);
    background-size: 100% 500px;
    background-repeat: no-repeat;
    background-position: top, bottom;
    padding: 50px 0px;
    width: 100%;
    background-color: white;
}

.top3Child>img{
    width: 250px;
    padding-left: 280px;
}
.top3Child{
    display: flex;
}
.line>h1{
    padding-left: 80px;
    color: #455555;
    font-size: 50px;
    font-weight: 900;
}
.line>p{
    padding-top: 10px;
    padding-left: 80px;
    font-size: 20px;
    font-weight: 400;
    color: #455555;
    padding-bottom: 40px;
}
.line>button{
    margin-left: 80px;
    width: 160px;
    height: 50px;
    background-color: #183962;
    color: white;
    border-color: #183962;
    border-radius:4px ;
    letter-spacing: 1px;
}
.apple{
    display: flex;
}
.apple>img{
    padding-top: 30px;
    width: 30px;
    height: 30px;
    padding-left: 80px;
}
.apple1>img{
    width: 25px;
    height: 25px;
    padding-top: 35px;
    padding-left: 5x;
}
.andriod{
    display: flex;
}
.andriod>img{
    padding-top: 30px;
    width: 30px;
    height: 30px;
    padding-left: 30px;
}



/**Mid section**/

.mid1{
    padding: 20px;
    margin: 30px auto;
    text-align: center;

}

.mid1>h2{
    font-weight: 500;
    font-size: 28px;
    font-family: inherit;
    color: #183962;
}

.mid1Child1>img{
    width: 140px;
}
.mid1Child{
    display: flex;
    padding-left: 100px;
}
.mid1Child1{
    margin-left: 4%;
    width: 300px;
    margin-top: 20px;
    text-align: center;
}
.mid1Child1>h3{
    font-size: 25px;
    font-weight: 500;
    color: #FF9400;
}
.mid1Child1>p{
    color: #455555;
}
.mid2{
    padding: 20px;
    display: flex;
}


.mid1Child2>img{
    width: 100px;
}
.mid1Child2>h3{
    font-size: 25px;
    font-weight: 500;
    color: #FF9400;
}
.mid1Child2{
    margin-left: 18%;
    width: 350px;
    margin-top: 20px;
    text-align: center;
}
.mid1Child2>p{
    color: #455555;
}

/****Mid Point******/

.midPoint>img{
    padding-top: 50px;
    width: 220px;
}
.midPoint{
    text-align: center;
}

.midPoint>h1{
    color: #FF9400;
    font-size: 91px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.midPoint>h2{
    font-size: 28px;
    color: #455555;
    padding-top: 10px;
    letter-spacing: 12px;
    padding-bottom: 30px;
}
.midPoint>hr{
    border: 5px solid #FF9400 ;
    width: 50px;
    margin-left: 650px;
}
.midPoint>h3{
    padding-top: 50px;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 21px;

}

/*** mid Img****/

.midImg{
    padding-top: 40px;
    display: flex;
    width: 90%;
    margin: auto;
    padding-bottom: 80px;
}
.midImg>img{
    width: 15%;
    margin-left: 8%;
    height: 10%;
}


/* mid B*/

.midB{
    background-color:#183962 ;
    padding-bottom: 30px;
   
}

.midB>h2{
    padding-top: 50px;
    color: white;
    letter-spacing: 3px;
    font-weight: 500;
    text-align: center;
}

.midBa{
    display: flex;
}

.img>img{
    padding-top: 20px;
    width: 200px;
}
.img{
    text-align: center;
    width: 30%;
    margin-left: 150px;
    color: white;
    padding-bottom: 40px;
}
.img>p{
    color: #FF9400;
    font-size: 15px;
}
.img>span{
    font-size: 12px;
}

.midB>button{
    
    background-color:#FF9400 ;
    color: white;
    width: 200px;
    height: 50px;
    text-align: centers;
    margin-left: 45%;
    border-color: #FF9400;
    border-radius: 5px;
}

/* B1 design*/

.B1{
    padding-top: 50px;
}
.B1>h2{
    text-align: center;
    color: #183962;
    font-size: 28px;
    font-weight: 500;
}

.B1>p{
    text-align: center;
    color: #455555;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
}

.B2{
    padding-top: 50px;
    display: flex;
    text-align: center;
    padding-left: 100px;
    padding-bottom: 50px;

}
.b2img{
    width: 250px;
    margin-left: 90px;
}

.b2img>img{
    width: 200px;
}
.b2img>p{
    padding-top: 10px;
    color: #455555;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 20px;
}
.get{
    padding-bottom: 50px;
}

.get>button{
    background-color: #183962;
    color: white;
    width: 210px;
    height: 50px;
    margin-left: 550px;
    border-radius: 5px;
    border-color: #183962;
    font-weight: 300;
    letter-spacing: 1px;
}

.bottom>h3{
    text-align: center;
    color: #FF9400;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 20px;
}
.bottom_child{
    display: flex;
    padding-left: 350px;
}

.bottom_child>img{
    width: 179px;
    margin-left:80px;

}
.bottom{
    padding-bottom: 60px;
}



/* bottom P*/

.bottomP{
    background-color: #183962;
    padding-bottom: 40px;
}
.P_child>img{
    width: 100px;
    padding-left: 180px;
}
.P_child{
    display: flex;
}

.p_child1{
    margin-top: 100px;
    margin-left: 170px;
    color: white;
    width: 45%;
    line-height: 25px;
    padding-right: 10px;
}


.buttom_last{
    padding-top: 20px;
    text-align: center;
    color: white;

}

.buttom_last>p{
    padding-top: 10px;
    font-size: 15px;
    padding-bottom: 10px;
}